body {
  margin: 0ch;
  padding: 0ch;
  background: lightgray;
}

#Container
{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background: lightblue;
}

#LeftScreen
{
  background-color: lightgray;
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
}

#PlayerInfo
{
  background-color: lightsalmon;
  height: 50%;
  width: 100%;
}

#ChatMenu
{
  background-color: lightgreen;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#MenuButtons
{
  background-color: lightyellow;
  height: 30%;
  width: 100%;
}

#GoBackButton
{
  background-color: plum;
  height: 30%;
  width: 100%;
}

#RightScreen
{
  background-color: cadetblue;
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
}

#PlayerVideo
{
  background-color: darkslateblue;
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
}

#PlayerVideoComponents
{
  background-color: goldenrod;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  align-items: center;
}

#talk-video
{
  background-color: white;
  height: 100%;
  width: 100%;
}

#Chat
{
  background-color: purple;
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.msg {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 4rem;
}  

#Messages
{
  background-color: lightpink;
  height: 80%;
  width: 100%;
}


#UserInput
{
  background-color: violet;
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#InputText
{
  background-color: brown;
  height: 100%;
  width: 90%;
}

#InputButton
{
  background-color: red;
  height: 100%;
  width: 10%;
}


/* OldCSS */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #f9b64d;
}


#video-wrapper{
  background: lightgray;
  height:250px;
  background-position: top;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #f4f4f4;
}

/* Navbar */
/* .navbar {
  background: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin-left: 1rem;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar a:hover {
  color: var(--primary-color);
} */

/* Showcase */
/* .showcase {
  height: 500px;
  width: 100%;
  background: var(--primary-color);
}


.showcase h1 {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  padding: 1rem 0;
}

.showcase form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.showcase form input,
form select {
  font-size: 20px;
  width: 500px;
  max-width: 500px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}

form button {
  font-size: 20px;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  background: #333;
  color: #fff;
  cursor: pointer;
}

form button:hover {
  transform: scale(1.1);
} */

/* Image */

/* .image {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

img {
  display: block;
  margin: auto;
}*/


